QWidget {
    font-size: 16px;
    font-family: "Times New Roman";
    background-color: "#F0F5F9";
}
QGroupBox {
   border: 1px solid "#52616B";
   border-radius: 3px;
   margin: 10px;
   padding: 4px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 4px;
    left: 20px;
    color: #364e54;
}

QTextEdit {
    background-color: "#F0F5F9";
    border: 0px;
    color: #364e54;
}

QPushButton {
    padding:4px;
    color: #fff;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border: 1px solid #364e54;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #52616B, stop: 1 #64737d);
 }

QPushButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }

QLabel {
    color: #364e54;
}

QLineEdit {
    border: 1px solid "#cdd2d5";
    background-color: "#e4edf1";
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    color: #364e54;
}

QRadioButton{
    color: #364e54;
}
